/* Place custom styles below */

/* Header design */
.body, span, p, td, div, a, input, select, button, textarea, label, option, fieldset, caption, legend, td, tr, th, div, a, h1, h2, h3, h4, h5, h6, li {
  font-family:Arial, 'Segoe UI', Segoe, Tahoma, Helvetica, sans-serif !important;
}

/* Hide the top default TUV logo*/
#s4-titlerow {
    display: none !important;
}

#img-company-logo {
    margin-left: 150px;
    float: left;
}

#img-app-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#IHeaderButtons{
    width:20%;
    text-align:right;
    margin-left:70%;
}

#peoplePickerDiv_TopSpan {
    width: 100% !important;
}

.hide {
    display: none !important;
}

.show {
    visibility: visible !important;
}

.top-buffer { margin-top:20px; }


#map-canvas, #map-canvas-showevent, #map-canvas-finalevent {    
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel, #floating-panel-final {
  position: absolute;
  top: 5px;
  right: 5%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;  
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel-final {
  top: 25px !important
}

.module-progressbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 60%;
}

.closeon {
    position: absolute;
    right: 0;
}

.personimage-resize {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.cellfooter {
    /*background-color: #009262;*/
    color: black;
}

    .cellfooter td {
        vertical-align: text-top;
        /*text-align: left;*/
    }

.cellfooter-button {
    text-align: center;
}

.fc-event-container {
    width: 150px !important;
}

.fc-time > span {
    width: 100% !important;
}

/* DataTable Formating*/
.dataTable thead {
    /*background-color: #009262 !important;*/
    background-color: #0072C6 !important;
    color: white !important;
}

.readonly-rows {
    background-color: #F1F1F1 !important;
}

.active-rows {
    /*background-color: #EBFFD9 !important;*/
    background-color: #E3F2FF !important;
}

div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
}

td.details-control {
    background: url('../Images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../Images/details_close.png') no-repeat center center;
}

.status-InProgress.status-Finalized{
    color:white
}

.status-InProgress {
    color:white;
    background-color:#34CA10;
}

.status-Finalized {
    color:white;
    background-color:#39B3D7;
}

.status-Cancelled {
    color:white;
    background-color:#EB9316;
}

label.valid {
	width: 24px;
	height: 24px;
	background: url('../Images/valid.png') center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

